<div style="text-align:left; padding:2%; margin:.3rem 0;">
    <div>

        <strong>
            {{ comment.writer.profile.nickname }}
        </strong>
        &nbsp&nbsp&nbsp

        <span style="color:#bbb">{{ comment.created_at }}</span>
    </div>
    <div style="margin:.5rem 0;">
        {{ comment.content }}
    </div>

    {% if comment.writer == user %}
    <div style="text-align:right">
        <a href="{% url 'commentapp:delete' pk=comment.pk %} " class="btn btn-danger rounded-pill">삭제</a>
    </div>
    {% endif %}
</div>